/**
* CSS and Icons taken from:
* http://pooliestudios.com/projects/iconize/
*//

a[href$='.doc'], a[href$='.rtf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_doc.gif) no-repeat center right;
}

a[href$='.txt'] {
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_txt.gif) no-repeat center right;
}

a[href$='.xls'] {
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_xls.gif) no-repeat center right;
}

a[href$='.rss'], a[href$='.atom'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_feed.gif) no-repeat center right;
}

a[href$='.opml'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_opml.gif) no-repeat center right;
}

a[href$='.vcard'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_vcard.gif) no-repeat center right;
}

a[href$='.exe'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_exe.gif) no-repeat center right;
}

a[href$='.dmg'], a[href$='.app'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_dmg.gif) no-repeat center right;
}

a[href$='.pps'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_pps.gif) no-repeat center right;
}

a[href$='.pdf'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_pdf.gif) no-repeat center right;
}

a[href$='.xpi'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_plugin.gif) no-repeat center right;
}

a[href$='.fla'], a[href$='.swf'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_flash.gif) no-repeat center right;
}

a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_archive.gif) no-repeat center right;
}

a[href$='.ical'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_ical.gif) no-repeat center right;
}

a[href$='.css'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_css.gif) no-repeat center right;
}

a[href$='.ttf'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_ttf.gif) no-repeat center right;
}

a[href$='.jpg'], a[href$='.gif'], a[href$='.png'], a[href$='.bmp'], a[href$='.jpeg'], a[href$='.svg'], a[href$='.eps'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_pic.gif) no-repeat center right;
}

a[href$='.mov'], a[href$='.wmv'], a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_film.gif) no-repeat center right;
}

a[href$='.mp3'], a[href$='.wav'], a[href$='.ogg'], a[href$='.wma'], a[href$='.m4a'] { 
	padding: 5px 20px 5px 0;
	background: transparent url(files_icons/icon_music.gif) no-repeat center right;
}